VITE_MODE=development
VITE_PORT=8095

VITE_APP_NAME='Voting App'
VITE_API_URL=https://api.stage.freedomtool.org
VITE_VOTING_REGISTRY_CONTRACT_ADDRESS=0xba6ba925C97d5EeE410BdD8e7950653e22E3CE73
VITE_VOTING_DEPLOYER_CONTRACT_ADDRESS=0xcca19442F5b3e5Fa71aaE69C092aC280e81Fd39f
